
body{
font-family: Arial, Helvetica, sans-serif;
margin:0;
background:#0f172a;
color:#e2e8f0;
line-height:1.6;
}

header{
text-align:center;
background:#020617;
padding:40px;
border-bottom:1px solid #1e293b;
}

header h1{
margin:0;
font-size:40px;
color:#38bdf8;
}

header p{
margin:5px;
}

.contact a{
color:#38bdf8;
text-decoration:none;
margin:0 10px;
}

section{
max-width:900px;
margin:auto;
padding:30px;
border-bottom:1px solid #1e293b;
}

h2{
color:#38bdf8;
margin-bottom:10px;
}

h3{
color:#e2e8f0;
margin-top:20px;
}

ul{
padding-left:20px;
}

li{
margin-bottom:8px;
}

footer{
text-align:center;
padding:20px;
background:#020617;
color:#94a3b8;
}
